<div class="login-modal">
  <div class="login-section">

    <div class="logo-section">
      <img src="assets/boussole.svg" class="logo" alt="">
      <div class="title">Boussole</div>
    </div>

    <div class="input-section">
      <div class="field">
        <label for="login">Username, email или телефон</label>
        <input type="text" id="login">
      </div>

      <div class="field">
        <label for="password">Пароль</label>
        <input type="password" id="password">
        <a href="#">Забыл пароль?</a>
      </div>
    </div>

    <div class="signin-section">
      <input type="checkbox" id="remember">
      <label for="remember">Запомнить меня</label>
      <button class="signin-button">Sign in</button>
    </div>

    <div class="register-section">
      <div class="no-account-text">Еще нет аккаунта? <a routerLink="../register" >Зарегистрироваться</a></div>
    </div>

  </div>
</div>
