<header class="header">
  <div class="header__content">
    <a class="title" href="#">Boussole</a>
    <nav class="menu">
      <ul class="menu__ul">
        <li class="menu__li">
          <a class="menu__link">home</a>
        </li>
        <li class="menu__li">
          <a class="menu__link">story</a>
        </li>
        <li class="menu__li">
          <a class="menu__link">blog</a>
        </li>
        <li class="menu__li">
          <a class="menu__link">subscribe</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
